<form novalidate fxFlexFill fxLayout="column" class="full-form" (ngSubmit)="onAddChore()" [formGroup]="choreForm">
  <h2>Add Chore</h2>
  <div>
    <md-input-container>
      <input mdInput placeholder="Title" formControlName="title">
      <md-hint *ngIf="choreForm.get('title').hasError('required') && choreForm.get('title').touched" class="error-label">
        Required
      </md-hint>
    </md-input-container>
  </div>
  <div fxFlex></div>
  <div fxLayout fxLayoutAlign="end" fxLayoutGap="10px" class="button-bar">
    <button type="button" md-button (click)="onCancel()">Cancel</button>
    <button [disabled]="choreForm.invalid" type="submit" md-raised-button color="primary">Add</button>
  </div>
</form>
<div>
